body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.footer {
    top: 300px;
    background-color: #b1e2f5;
    color: rgb(35, 109, 228);
    padding: 20px 0;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;

}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.footer-section {
    text-align: center;
}

.footer-section h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.social-icon {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
}

.footer-bottom {
    background-color: #222;
    text-align: center;
    padding: 10px 0;
}
