{{>layouts/header}}

<body>
            <div class="container">
                <div class="home_card_list">
                    <div class="banner_slide">
                        <div class="viewport">
                            <div class="camera">
                                <div class="viewport_image"></div>
                            </div>
                            <span
                                    class="flicking_arrow flicking_arrow_prev"
                            ></span>
                            <span
                                    class="flicking_arrow flicking_arrow_next"
                            ></span>
                            <div class="flicking_pagination">
                                        <span
                                                class="flicking_pagination_btn"
                                        ></span>
                                <span
                                        class="flicking_pagination_btn"
                                ></span>
                                <span
                                        class="flicking_pagination_btn"
                                ></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 해더 끝 -->
<!-- 이미지 슬라이드 -->
<div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-bs-ride="carousel"
>
    <div class="carousel-indicators">
        <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
        ></button>
        <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="1"
                aria-label="Slide 2"
        ></button>
        <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="2"
                aria-label="Slide 3"
        ></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img
                    src="/static/images/cat-8197577_1280.jpg"
                    class="d-block w-100"
                    alt="..."
            />
        </div>
        <div class="carousel-item">
            <img
                    src="/static/images/lovebird-8244066_1280.jpg"
                    class="d-block w-100"
                    alt="..."
            />
        </div>
        <div class="carousel-item">
            <img
                    src="/static/images/willow-warbler-8071472_1280.jpg"
                    class="d-block w-100"
                    alt="..."
            />
        </div>
    </div>
    <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev"
    >
                <span
                        class="carousel-control-prev-icon"
                        aria-hidden="true"
                ></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next"
    >
                <span
                        class="carousel-control-next-icon"
                        aria-hidden="true"
                ></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- 카테고리 -->
<nav class="category" id="category">
    <div class="item">상의</div>
    <div href="" class="item">바지</div>
    <div href="" class="item">아우터</div>
    <div href="" class="item">신발</div>
</nav>
<div class="line"></div>
<div class="dropdown" id="dropdown">
    <div class="top">
        <a href="" class="categorys-item">긴팔</a>
        <a href="" class="categorys-item">반팔</a>
        <a href="" class="categorys-item">후드</a>
        <a href="" class="categorys-item">니트</a>
    </div>
    <div class="bottom">
        <a href="" class="categorys-item">데님 팬츠</a>
        <a href="" class="categorys-item">코튼 팬츠</a>
        <a href="" class="categorys-item">카고 팬츠 </a>
        <a href="" class="categorys-item">조거 팬츠 </a>
        <a href="" class="categorys-item">슬렉스</a>
    </div>
    <div class="outer">
        <a href="" class="categorys-item">후드 집업</a>
        <a href="" class="categorys-item">가디건</a>
        <a href="" class="categorys-item">무스탕</a>
        <a href="" class="categorys-item">패딩</a>
        <a href="" class="categorys-item">코트</a>
    </div>
    <div class="shoes">
        <a href="" class="categorys-item">운동화</a>
        <a href="" class="categorys-item">구두</a>
        <a href="" class="categorys-item">로퍼</a>
        <a href="" class="categorys-item">샌들</a>
    </div>
</div>
<div class="cards">
    <div class="card" style="width: 18rem">
        <img
                src="/static/images/cat-8197577_1280.jpg"
                class="card-img-top"
                alt="..."
        />
        <div class="card-body">
            <p class="card-text">이름</p>
            <p class="card-text">가격</p>
        </div>
    </div>
    <div class="card" style="width: 18rem">
        <img
                src="/static/images/cat-8197577_1280.jpg"
                class="card-img-top"
                alt="..."
        />
        <div class="card-body">
            <p class="card-text">이름</p>
            <p class="card-text">가격</p>
        </div>
    </div>
    <div class="card" style="width: 18rem">
        <img
                src="/static/images/cat-8197577_1280.jpg"
                class="card-img-top"
                alt="..."
        />
        <div class="card-body">
            <p class="card-text">이름</p>
            <p class="card-text">가격</p>
        </div>
    </div>
    <div class="card" style="width: 18rem">
        <img
                src="/static/images/cat-8197577_1280.jpg"
                class="card-img-top"
                alt="..."
        />
        <div class="card-body">
            <p class="card-text">이름</p>
            <p class="card-text">가격</p>
        </div>
    </div>
</div>
<div class="cards cards2">
    <div class="card" style="width: 18rem">
        <img
                src="/static/images/cat-8197577_1280.jpg"
                class="card-img-top"
                alt="..."
        />
        <div class="card-body">
            <p class="card-text">이름</p>
            <p class="card-text">가격</p>
        </div>
    </div>
    <div class="card" style="width: 18rem">
        <img
                src="/static/images/cat-8197577_1280.jpg"
                class="card-img-top"
                alt="..."
        />
        <div class="card-body">
            <p class="card-text">이름</p>
            <p class="card-text">가격</p>
        </div>
    </div>
    <div class="card" style="width: 18rem">
        <img
                src="/static/images/cat-8197577_1280.jpg"
                class="card-img-top"
                alt="..."
        />
        <div class="card-body">
            <p class="card-text">이름</p>
            <p class="card-text">가격</p>
        </div>
    </div>
    <div class="card" style="width: 18rem">
        <img
                src="/static/images/cat-8197577_1280.jpg"
                class="card-img-top"
                alt="..."
        />
        <div class="card-body">
            <p class="card-text">이름</p>
            <p class="card-text">가격</p>
        </div>
    </div>
</div>
<div class="cards cards3">
    <div class="card" style="width: 18rem">
        <img
                src="/static/images/cat-8197577_1280.jpg"
                class="card-img-top"
                alt="..."
        />
        <div class="card-body">
            <p class="card-text">이름</p>
            <p class="card-text">가격</p>
        </div>
    </div>
    <div class="card" style="width: 18rem">
        <img
                src="/static/images/cat-8197577_1280.jpg"
                class="card-img-top"
                alt="..."
        />
        <div class="card-body">
            <p class="card-text">이름</p>
            <p class="card-text">가격</p>
        </div>
    </div>
    <div class="card" style="width: 18rem">
        <img
                src="/static/images/cat-8197577_1280.jpg"
                class="card-img-top"
                alt="..."
        />
        <div class="card-body">
            <p class="card-text">이름</p>
            <p class="card-text">가격</p>
        </div>
    </div>
    <div class="card" style="width: 18rem">
        <img
                src="/static/images/cat-8197577_1280.jpg"
                class="card-img-top"
                alt="..."
        />
        <div class="card-body">
            <p class="card-text">이름</p>
            <p class="card-text">가격</p>
        </div>
    </div>
</div>

<div class="btn">
    <button type="button" class="btn btn-outline-dark btn2">
        더보기
    </button>
</div>

            <script src="/static/js/main.js"></script>
</body>


{{>layouts/footer}}