<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/css/layouts/style.css"/>
    <link rel="stylesheet" href="/static/css/layouts/header.css"/>
    <link rel="stylesheet" href="/static/css/layouts/footer.css"/>
    <link rel="stylesheet" href="/static/css/layouts/body.css"/>
    <title>Main</title>
</head>
<body>
<div class="section-header">
    <div id="wrap" class="">
        <div class="header fixed">
            <div class="header_top">
                <div class="top_inner">
                    <ul class="top_list">
                        <li class="top_item">
                            <a href="/" class="top_link">마이페이지</a>
                        </li>
                        <li class="top_item item1">
                            <a href="/" class="top_link">장바구니</a>
                        </li>
                        <li class="top_item item1">
                            <a href="/" class="top_link">로그인</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="header_main">
                <div class="main_inner">
                    <img
                            src="/static/images/KakaoTalk_.jpg"
                            class="logo"
                            alt=""
                    />
                    <div class="center"></div>
                    <div class="right">
                        <div class="nav_area">
                            <nav class="nav">
                                <ul class="nav_list">
                                    <li class="nav_item">
                                        <a
                                                href="/"
                                                class="gnb_link active"
                                        >홈</a
                                        >
                                    </li>
                                    <li class="nav_item">
                                        <a href="/" class="gnb_link"
                                        >랭킹</a
                                        >
                                    </li>
                                    <li class="nav_item">
                                        <a href="/" class="gnb_link"
                                        >이벤트</a
                                        >
                                    </li>
                                </ul>
                            </nav>
                            <div class="search_btn_box">
                                <a href="#" class="btn_search">
                                    <img
                                            src="/static/images/baseline_search_black_24dp.png"
                                            alt=""
                                    />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="home_card_list">
                    <div class="banner_slide">
                        <div class="viewport">
                            <div class="camera">
                                <div class="viewport_image"></div>
                            </div>
                            <span
                                    class="flicking_arrow flicking_arrow_prev"
                            ></span>
                            <span
                                    class="flicking_arrow flicking_arrow_next"
                            ></span>
                            <div class="flicking_pagination">
                                        <span
                                                class="flicking_pagination_btn"
                                        ></span>
                                <span
                                        class="flicking_pagination_btn"
                                ></span>
                                <span
                                        class="flicking_pagination_btn"
                                ></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

